@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800;900&display=swap%27);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}


header{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}



/*LINK*/
a{
    text-decoration: none;
    color: black ;
}

a:hover{
    text-decoration: underline;
}

/*BOTTONI*/

.pulsante, a, p{
    font-size: 17px;
    font-family: 'Noto Sans', sans-serif;
    padding: 16px;
}

.bianco{
    background-color: white;
    border: none;
    color: black;
}

.bianco:hover{
    background-color: rgb(165, 158, 158);
}

.blu{
    background-color: #0061ff;
    border: none;
    color: white;
}

.blu:hover{
    background-color: #0a96e7;
}


/*HEADLINE*/
.headline{
    height: auto;
    background-color: #b4d0e7;
    width: 100%;
}

.box{
    border: 1px solid black;
    height: auto;
    padding: 50px 50px 10px 50px;
}

.box2{
    width: 60%;
    margin: auto;
    height: auto;
}
.box2 h1{
    font-size: 70px;
}

.box3{
    height: auto;
    width: 100%;
    display: flex;
}

.text{
    height: auto;
    width: 35%;
}

.text button{
    margin: 40px 0 40px 16px;
}

.fa-arrow-down{
    font-size: 50px;
    margin-left: 16px;
}

.immage{
    width: 65%;
    /*background-image: url('../img/jumbo.png');
    background-size: contain ;
    background-repeat: no-repeat;*/
}

.prova{
    width: 100%;
    margin-bottom: -50px;
}



/*MAIN*/

main{
    border: 1px solid navy;
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 150px;
}

.fatturazione{
    margin: 50px  0 30px 0;
    display: flex;
    border: 1px solid rgb(231, 14, 231);
}

.input{
    padding-right: 20px;
}


.option{
    border: 1px solid yellow;
    height: auto;
    display: flex;
}

.piano{
    border: 1px solid green;
    width: calc( 100% / 3);
    height: auto;
    
}

.pacchetto{
    display: flex;
    align-items: center;
    justify-content: center;
}




.s1 ,.s2 ,.s3, .s4{
    border: 1px solid salmon;
    width: 90%;
    margin: auto;
    height: auto;
    display: block;
}

.s1 *, .s4 *{
    margin-bottom: 20px;
}

.s2, .s4{
    margin-top: 30px;
}
.s2 *{
    margin-bottom: 15px;
}

.s3{
    margin-top: 35px;
    align-items: center;
}

.s3 button{
    width: 100%;
}

.s3 a{
    color: blue;
}

.fa-check{
    color: rgb(31, 31, 235);
}

.larga{
    margin-top: 40px;
    border: 1px solid red;
    height: auto;
    width: 100%;
}

.uinfo{
    border: 1px solid black;
    height: auto;
    width: 100%;
    display: flex;
}

.lbox{
    width: 30%;
    height: auto;
}

.rbox{
    width: 70%;
    height: auto;
    align-self: center ;
}

.rbox > button{
    float: left;
}