@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800;900&display=swap%27);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}



/*LINK*/
a{
    text-decoration: none;
    color: black ;
}

a:hover{
    text-decoration: underline;
}

/*BOTTONI*/

.pulsante, a{
    font-size: 17px;
    font-family: 'Noto Sans', sans-serif;
    padding: 16px;
}

.bianco{
    background-color: white;
    border: none;
    color: black;
}

.bianco:hover{
    background-color: rgb(165, 158, 158);
}

.blu{
    background-color: #0061ff;
    border: none;
    color: white;
}

.blu:hover{
    background-color: #0a96e7;
}

